*{
    margin:0px;
    padding:0px;
}
*:after,:before{
    box-sizing: border-box;
}

body{
    color:000;
    font-size: 18px;
    font-family: 'Inter', sans-serif;   
}

ul,li{
    display:block;
    margin: 0px;
    padding:0px;
    
    
}
a{
    color: #000 !important;
    text-decoration: none;
}

/* Настройка меню навигации */
#header{
    background: -webkit-linear-gradient(45deg, rgb(119, 152, 231), rgb(104, 141, 231), rgb(68, 116, 231));
background: -moz-linear-gradient(45deg, rgb(119, 152, 231), rgb(104, 141, 231), rgb(68, 116, 231));
background: linear-gradient(45deg, rgb(119, 152, 231), rgb(104, 141, 231), rgb(68, 116, 231));
    max-height: 10vh;
    width: 98.83vw;
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:1px solid #4474e7;
}
#santa_dance{
    width:40px;
    position: absolute;
}
#sitename{
    color:black;
    font-size: 36px;
    margin-right: 65%;
    margin-left:25px;
    font-weight: 400;
    
}
/* Выстраиваем все элементы header в ряд */
#navigate{
    align-items:stretch;
    display: flex;
}
#menu{ 
    display: flex 
}
/* Убираем подчеркивание и делаем все в верхний регистр */
#menu li a {
    align-items: center;
    text-transform: uppercase;
    text-decoration: none; 
}
#menu li {
    margin-left: 15px;
    margin-right: 15px;
    padding-right:5px;
}
#menu li:hover {
    box-shadow: 1px 1px 0px 0px #4474e7;
}
#log_info{
    text-align: center;
    font-size:12px;
    color:black;
  
}
#menu img{
    margin-left: 15%;
}
/* Настройка блока корзины */
#bucket_section{
    width: 100%;
    height:600px;
    background-color: #84a1e2;
    padding-top: 10px;
    padding-bottom: 10px;
}
#bucket_block{
    border:2px solid #7d9cde;
    height:600px;
    width:1200px;
    /* Расположение блока по центру */
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color:#98aee2 ;
}
/* Настройка заголовка страницы */
#page_name{
    margin-left: auto;
    margin-right:auto;
    width:1000px;
    margin-top:20px;
    margin-bottom:20px;
    
}
#page_name h4{
    font-size: 24px;
    font-weight: 400;
}
/* Настройка блока со всеми деталями */
#added_items{
    margin-left: auto;
    margin-right: auto;
    border:2px solid #89a6e8;
    border-radius: 10px;
    height:390px;
    width:1000px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom:10px;
}
#added_items::-webkit-scrollbar{
    width:0px;
}
/* Настройка блока с отдельной деталью */
.details_info{
    display: grid;
    height:150px;
    width:850px;
    box-shadow: 1px 1px 10px #7f9de3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom:10px;
    grid-template-columns: 100px 190px 200px 200px 130px 30px;
    grid-template-rows:  30px 70px 50px ;
    border-radius: 10px;
}
.details_img{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin:5px;
}
.details_description{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:3;
}
.button_go{
    grid-column-start: 5;
    grid-row-start:2;
    justify-self: center;
    align-self: center;
    height:50px;
    width:120px;
    border-radius: 10px;
    border-width:1px;
    background-color: #8ba8ec;
}
.button_go:hover{
    background-color: #7b9deb;
}
.details_cost{
    grid-column-start: 5;
    grid-row-start:3;
    justify-self: center;
    align-self: center;
}
.details_rating{
    grid-column-start: 2;
    grid-row-start:3;
    justify-self: center;
    align-self: center;
}
.dealer_name{
    grid-column-start: 3;
    grid-row-start:3;
    justify-self: center;
    align-self: center;
}
.button_delete_item{
    grid-column-start: 6;
    grid-row-start:1;
    background-color: #8ba8ec;
    border-radius: 10px;
    border-width:1px;
}
.button_delete_item:hover{
    background-color: #7b9deb;
}

/* Настройка блока с ценой */
#confrim_section{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height:40px;
    margin-top: 20px;
}
#confrim_button{
    height:30px;
    width:150px;
    justify-self: center;
    align-self: center;
    margin-right:20px;
    background-color: #8ba8ec;
    border-radius: 10px;
    border-width:1px;
}
#confrim_button:hover{
    background-color: #7b9deb;  
}
#total_cost{
    padding-right: 630px;
    justify-self: center;
    align-self: center;
    
}
#back_main_section{
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    margin-top:20px;
}
.back_main{
    height:40px;
    width:120px;
    margin-bottom: 20px;
    background-color: #8ba8ec;
    border-radius: 10px;
    border-width:1px;
}
.back_main:hover{
    background-color: #7b9deb;
    
}




/* Дно сайта */
#footer{
    background: -webkit-linear-gradient(45deg, rgb(119, 152, 231), rgb(104, 141, 231), rgb(68, 116, 231));
background: -moz-linear-gradient(45deg, rgb(119, 152, 231), rgb(104, 141, 231), rgb(68, 116, 231));
background: linear-gradient(45deg, rgb(119, 152, 231), rgb(104, 141, 231), rgb(68, 116, 231));
    max-height:100vh;
    width: 98.83vw;;
}
#footer{
    border-top:0.5px solid #4474e7
}
#about ul{
    display:flex;
}
#about ul li {
    margin-left: 100px;
    max-width: 200px;
}
