*{
    margin:0px;
    padding:0px;
}
*:after,:before{
    box-sizing: border-box;
}

body{
    color:000;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    
}
ul,li{
    display:block;
    margin: 0px;
    padding:0px;
    
    
}
a{
    color: #000 !important;
    text-decoration: none;
}

/* Настройка меню навигации */
#header{
    background-color: #A8A8A8;
    background-image: url('/SiteFrontend/static/mainpage/img/snwflks-29.gif');
    max-height: 10vh;
    width: 100vw;
    padding-bottom:2%;
    padding-top:2%;
    border-bottom:1px solid black;
}
#santa_dance{
    width:40px;
    position: absolute;
}
#sitename{
    
    color:black;
    font-size: 36px;
    margin-right: 65%;
    margin-left:25px;
    
}
/* Выстраиваем все элементы header в ряд */
#navigate{
    align-items:stretch;
    display: flex;
}
#menu{ 
    display: flex 
}
/* Убираем подчеркивание и делаем все в верхний регистр */
#menu li a {
    align-items: center;
    text-transform: uppercase;
    text-decoration: none; 
}
#menu li {
    margin-left: 15px;
    margin-right: 15px;
}
#log_info{
    text-align: center;
    font-size:12px;
    color:black;
  
}
#menu img{
    margin-left: 15%;
}

/* Настройка основного контента */
#main_content{
    display: flex;
    max-height: 60%;
}

/* Навигационная панель справа */
#aside_field{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #a8a8a8;
    max-width:20vw;
    display:flex;
    text-transform: uppercase;
    text-decoration: none;
    border-right:1px solid black;
}
#aside_field ul li{
    margin-bottom:25px;
    margin-left:auto;
    margin-right:auto;
}
/* Настройка для кнопок в панели aside */
#aside_field ul li button{
    margin-left:25px;
    width: 70px;
    height:70px;
    background-repeat: no-repeat;
}
/* Настройка изображения на кнопке и толщины границ */
#button_details{
    background-image: url("/SiteFrontend/static/mainpage/img/det_logo.png");
    background-color:#a8a8a8;
    border-width: 0px;
    position:relative;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    margin-left: 20px;
    align-content: center;
    position:absolute;
    background-color: #a8a8a8;
    min-width: 150px;
    z-index: 1;
    border:1px solid black
}
/* Настройка размеров кнопок в выпадающем меню, цвета и толщины границ */
#details_dropdown_content .button_info_dropdown p{
    background-color:#A8A8A8 ;
    border-width: 0px;
    font-size: 12px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    width:50px;
    height:20px;
    margin-top: 10px;
}
#details_dropdown_content .button_info_dropdown p:hover{
    font-weight: 600;
}
/* Дейтсвие при наведении на кнопку */
.dropdown:hover .dropdown-content {display: block;}

/* Настройка для готовых сетапов */
#button_kits{
    background-image: url("/SiteFrontend/static/mainpage/img/kits_logo.png");
    background-color:#a8a8a8;
    border-width: 0px;
}
#shop_configuration{
    display: flex;
}
/* настройки для фильтров */
#filter_border{
    border-right: 1px solid black;
    width:10vw;
    max-width: 12vw;
}
/* Настройка для списка блоком с деталями */
.det_info{
    display: grid;
}
/* Убираем подчеркивание */
#aside_field li a {
    text-transform: uppercase;
    text-decoration: none; 
}
/* настройка блока с деталями
 Настройка блока с поиском */
#search_field{
    margin-left:auto;
    margin-right: auto;
    margin-top:30px;
    height:22px;
    width: 724px;

}
#search_field ul{
    justify-self: center;
    align-self: center;
}
#search_field input{
    height:25px;
    width:600px;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-left:3px;
    
}
#search_field button{
    height:28px;
    width:100px;
}
#search_field ul{
    display:flex;
}
#search_field{
    align-self: center;
}
#search_field #img_search{
    width:25px;
}
#shop_section{
    width:80vw;
    height:80vh;
}
/* Настройка блока с деталями */
#shop_field{
    align-self: center;
    overflow-y: scroll;
    width:1200px;
    height:500px;
    border:1px solid black; 
    margin-top:30px;
    margin-bottom: 40px;
    margin-left:auto;
    margin-right:auto;
}
#shop_field .details_info{
    height:200px;
    width:1100px;
    margin: 10px;
    display:grid;
    grid-template-columns: 200px 250px 250px 250px 150px;
    grid-template-rows: 120px 60px 20px ;
    box-shadow: 1px 1px 10px #A8A8A8;
    margin-left:auto;
    margin-right:auto;
}
.details_img{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    max-width: 100%;

    margin-top: auto;
    margin-bottom: auto;
    
}
.details_description{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    margin: 5px;
}
.button_go{
    grid-column-start: 5;
    grid-row-start:2;
    grid-row-end: 3;
    width: 120px;
    height:50px;
    justify-self: center;
    align-self: center;

    font-size: 12px;
}
.add_det_bucket{
    grid-column-start: 4;
    grid-row-start:2;
    grid-row-end: 3;
    width: 120px;
    height:50px;
    justify-self: center;
    align-self: center;
    margin: 5px;
    font-size: 12px;
}
.details_cost{
    justify-self: center;
    align-self: center;
    font-size:16px;
}
.details_count{
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 16px;
}
.details_rating{
    justify-self: center;
    align-self: center;
    grid-column-start: 3;
    grid-row-start: 2;
    font-size: 16px;
}
.dealer_name{
    grid-column-start: 4;
    grid-row-start:2;
    justify-self: center;
    align-self: center;
    font-size: 16px;
}

/* Дно сайта */
#footer{
    background-color: #A8A8A8;
    max-height:100vh;
    width:100vw;
}
#footer{
    border-top:0.5px solid black
}
#about ul{
    display:flex;
}
#about ul li {
    margin-left: 100px;
    max-width: 200px;
}

/* стили фильтров */


#prod:hover{
    font-weight: 600;
}
#videoMem:hover{
    font-weight: 600;
}
#cpuCores:hover{
    font-weight: 600;
}
#price:hover{
    font-weight: 600;
}
#prodGPU:hover{
    font-weight: 600;
}
#busSize:hover{
    font-weight: 600;
}
#monitorConSize:hover{
    font-weight: 600;
}
#socket:hover{
    font-weight: 600;
}
#chipset:hover{
    font-weight: 600;
}
#memoryTypeCon:hover{
    font-weight: 600;
}
#memorySlotSize:hover{
    font-weight: 600;
}
#memoryM2Size:hover{
    font-weight: 600;
}
#memoryType:hover{
    font-weight: 600;
}
#coreSize:hover{
    font-weight: 600;
}

#prod_accardeon li{
    margin-left: 15px;
}
#videoMem_accardeon li{
    margin-left: 15px;
}
#cpuCores_accardeon li{
    margin-left: 15px;
}
#price_accardeon li{
    margin-left: 15px;
}
#prodGPU_accardeon li{
    margin-left: 15px;
}
#busSize_accardeon li{
    margin-left: 15px;
}
#monitorConSize_accardeon li{
    margin-left: 15px;
}
#socket_accardeon li{
    margin-left: 15px;
}
#chipset_accardeon li{
    margin-left: 15px;
}
#memoryTypeCon_accardeon li{
    margin-left: 15px;
}
#memorySlotSize_accardeon li{
    margin-left: 15px;
}
#memoryM2Size_accardeon li{
    margin-left: 15px;
}
#memoryType_accardeon li{
    margin-left: 15px;
}
#coreSize_accardeon li{
    margin-left: 15px;
}
/* #videoMem_section, #cpuCores_section, #price_section, #prod_section{
    display:none;
} */
