*{
    margin:0px;
    padding:0px;
}
*:after,:before{
    box-sizing: border-box;
}

body{
    color:000;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    
}
ul,li{
    display:block;
    margin: 0px;
    padding:0px;
    
    
}
a{
    color: #000 !important;
    text-decoration: none;
}
#reg{
    display: flex;
    background: -webkit-linear-gradient(45deg, rgb(119, 152, 231), rgb(104, 141, 231), rgb(68, 116, 231));
background: -moz-linear-gradient(45deg, rgb(119, 152, 231), rgb(104, 141, 231), rgb(68, 116, 231));
background: linear-gradient(45deg, rgb(119, 152, 231), rgb(104, 141, 231), rgb(68, 116, 231));
    height:100vh;
    justify-content: center;
}
/* Настройка блока регистрации */
#main_registration_block{
    box-shadow: 1px 1px 1px 1px #406dd9;
    width:600px;
    height:500px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px 55px;
    background-color: #6a8fe5;
}
#main_registration_block p{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}
#main_registration_block #name{
    grid-column-start: 1;
    grid-row-start: 2;
}
#main_registration_block ul li #name_field{
    grid-column-start: 2;
    grid-row-start: 2;
}
#main_registration_block h4{
    margin-top: 20px;
    margin-left:5px;
}

#main_registration_block input{
    height:40px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #6d90e3;
    background-color: #7798e7;
}
#main_registration_block input:hover{
    background-color:#7194e3 ;
}
#main_registration_block #registration_button{
    margin-left:auto;
    margin-right: auto;
    margin-top:20px;
    width: 120px;
    height:50px;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    border-width:1px;
    font-size: 12px;
    background-color: #8ba8ec;
    grid-column-start: 1;
    grid-column-end: 3;
}
#main_registration_block #registration_button:hover{
    background-color: #7b9deb;
}
