{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'mainpage/css/main.css' %}">
</head>
<body>
    <header>

    </header>

    <main id="">
        <ul>
            <li>
                <h4>Логин</h4>
                <input  id="login_field" name="username" placeholder="Имя пользователя">

            </li>
            <li>
                <h4>Пароль</h4>
                <input id="password_field" type="password" placeholder="Пароль">
            </li>
            <li>
                <span>Еще не зарегестрированы? </span><a href="/registration"><span>Регистрация</span></a>
            </li>
        </ul>
        <button>Авторизоваться</button>
    </main>

    <footer>

    </footer>
</body>
</html>