*{
    margin:0px;
    padding:0px;
}
*:after,:before{
    box-sizing: border-box;
}

body{
    color:000;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    
}
ul,li{
    display:block;
    margin: 0px;
    padding:0px;
    
    
}
a{
    color: #000 !important;
    text-decoration: none;
}

/* Настройка меню навигации */
#header{
    background-color: #A8A8A8;
    background-image: url('/SiteFrontend/img/snwflks-29.gif');
    max-height: 40px;
    width: 100%;
    padding-bottom:2%;
    padding-top:2%;
    border-bottom:1px solid black;
}
#santa_dance{
    width:40px;
    position: absolute;
}
#sitename{
    
    color:black;
    font-size: 36px;
    margin-right: 65%;
    margin-left:25px;
    
}
/* Выстраиваем все элементы header в ряд */
#navigate{
    align-items:stretch;
    display: flex;
}
#menu{ 
    display: flex 
}
/* Убираем подчеркивание и делаем все в верхний регистр */
#menu li a {
    align-items: center;
    text-transform: uppercase;
    text-decoration: none; 
}
#menu li {
    margin-left: 15px;
    margin-right: 15px;
}
#log_info{
    text-align: center;
    font-size:12px;
    color:black;
  
}
#menu img{
    margin-left: 15%;
}

/* Настройка основного контента */
#main_content{
    display: flex;
    max-height: 60%;
}

/* Навигационная панель справа */
#aside_field{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #a8a8a8;
    width:10%;
    display:flex;
    text-transform: uppercase;
    text-decoration: none;
    border-right:1px solid black;
}
#aside_field ul li{
    margin-bottom:25px;
    margin-left:25px;
}
/* Настройка для кнопок в панели aside */
#aside_field ul li button{
    margin-left:25px;
    width: 70px;
    height:70px;
    background-repeat: no-repeat;
}
/* Настройка изображения на кнопке и толщины границ */
#button_details{
    background-image: url("/SiteFrontend/static/mainpage/img/det_logo.png");
    background-color:#a8a8a8;
    border-width: 0px;
    position:relative;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position:absolute;
    background-color: #a8a8a8;
    min-width: 150px;
    z-index: 1;
    border:1px solid black
}
/* Настройка размеров кнопок в выпадающем меню, цвета и толщины границ */
#details_dropdown_content .button_info_dropdown button{
    background-color:#A8A8A8 ;
    border-width: 0px;
    width:50px;
    height:25px;
    margin-top: 10px;
}
/* Дейтсвие при наведении на кнопку */
.dropdown:hover .dropdown-content {display: block;}

/* Настройка для готовых сетапов */
#button_kits{
    background-image: url("/SiteFrontend/static/mainpage/img/kits_logo.png");
    background-color:#a8a8a8;
    border-width: 0px;
}
#shop_configuration{
    display: flex;
}
/* настройки для фильтров */
#filter_border{
    border-right: 1px solid black;
}
#filter_field ul{
    max-width: 200px;
}

/* Настройка для списка блоком с деталями */
.det_info{
    display: grid;
}
/* Убираем подчеркивание */
#aside_field li a {
    text-transform: uppercase;
    text-decoration: none; 
}
/* настройка блока с деталями
 Настройка блока с поиском */
#search_field{
    margin:50px;
    height:22px;
}
#search_field ul{
    justify-self: center;
    align-self: center;
}
#search_field input{
    height:19px;
    width:500px;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-left:3px;
    
}
#search_field button{
    height:22px;
    width:50px;
}
#search_field ul{
    display:flex;
}
/* Настройка блока с деталями */
#shop_field{
    overflow-y: scroll;
    width:900px;
    height:450px;
    border:1px solid black;
    margin:50px;
    
}
#shop_field .details_info{
    height:150px;
    width:850px;
    margin: 10px;
    display:grid;
    grid-template-columns: 90px 200px 200px 200px 160px;
    grid-template-rows: 90px 60px ;
    box-shadow: 1px 1px 10px #A8A8A8;
}
.details_img{
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    align-self: center;
}
.details_description{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    margin: 5px;
}
.button_go{
    grid-column-start: 5;
    grid-row-start:2;
    width: 100px;
    height:40px;
    justify-self: center;
    align-self: center;
    margin: 5px;
}
.details_cost{
    justify-self: center;
    align-self: center;
    font-size:16px;
}
.details_count{
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 12px;
}
.details_rating{
    justify-self: center;
    align-self: center;
    grid-column-start: 3;
    grid-row-start: 2;
    font-size: 12px;
}

/* Дно сайта */
#footer{
    background-color: #A8A8A8;
    max-height:20%;
    width:100%;
}
#footer{
    border-top:0.5px solid black
}
#about ul{
    display:flex;
}
#about ul li {
    margin-left: 100px;
    max-width: 200px;
}
    
