*{
    margin:0px;
    padding:0px;
}

body{
    color:000;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    
}
ul,li{
    display:block;
}

/* Настройка меню навигации */
#header{
    
    background-color: #A8A8A8;
    height: 40px;
    width: 100%;
    padding-bottom:2%;
    padding-top:2%;
    border-bottom:1px solid black
}
#sitename{
    
    color:black;
    font-size: 36px;
    margin-right: 65%;
}
/* Выстраиваем все элементы header в ряд */
.navigate{
    align-items:stretch;
    display: flex;
}
#menu{ 
    display: flex 
}
/* Убираем подчеркивание и делаем все в верхний регистр */
#menu li a {
    align-items: center;
    text-transform: uppercase;
    text-decoration: none; 
}
#menu li {
    margin-left: 15px;
    margin-right: 15px;
}
#log_info{
    text-align: center;
    font-size:12px
  
}
#menu img{
    margin-left: 15%;
}

/* Боковая панель с деталями и комплектующими */
#aside{
    background-color: #a8a8a8;
    height:600px;
    width:fit-content;
    align-items: stretch;
    display:flex;
}


/* Убираем подчеркивание и делаем все в верхний регистр */
#left_bar li a {
    text-transform: uppercase;
    text-decoration: none; 
}
#left_bar li img{
    margin-left: 25px;
}
#left_bar{
    border-right:1px solid black
}

#left_bar li {
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Блок с запчасятми фильтр */
#filter{
    margin-top:0px;
    margin-bottom: 0px;
    padding-left: 10px;
    background-color:#F6EFC7;
    height:100%;
    width:150px
    
    
}
#filter{
    border-right:1px solid black
}
#shop{
    margin-top:0px;
    margin-bottom: 0px;
    padding-left: 10px;
    background-color:#F6EFC7;
    height:100%;
    width:150px
    
    
}
/* Дно сайта */
#footer{
    background-color: #A8A8A8;
    height:200px;
    width:100%;
}
#footer{
    border-top:0.5px solid black
}
    
