<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitename(Change)(change)</title>
    <link rel="stylesheet" href="/SiteFrontend/static/mainpage/css/account.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Playpen+Sans:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Шапка сайта с навигацией -->
    <header id = "header">
        <nav id="navigate">
            <h3 id = "sitename"><a href="#">DNS5</a><img id="santa_dance" src="/SiteFrontend/static/mainpage/img/picmix.com_1748393.gif" alt="я джифка"></h3>
            <ul id = "menu">
                <li>
                    <a id = "menu-el" href="#">
                        <img  id = "bucket_logo" src="/SiteFrontend/static/mainpage/img/bucket_logo.png" alt="">
                        <p id = "log_info">Корзина</p>
                    </a>
                </li>
                <li>
                    <a id = "menu-el" href="#">
                        <img  id = "account_logo" src="/SiteFrontend/static/mainpage/img/account_logo.png" alt="">
                        <p id = "log_info">Аккаунт</p>
                    </a>
                </li>
                <li>
                    <a id = "menu-el" href="#">
                        <img  id = "reg_logo" src="/SiteFrontend/static/mainpage/img/reg_logo.png" alt="">
                        <p id = "log_info">Вход</p>
                    </a>
                </li>  
                <li>
                    
                </li>              
            </ul>
        </nav>
    </header>
    <section id="main_account_info">
        <main id="account_block">
            <div id="user_info">
                <p id="page_name">Информиця об аккаунте</p>
                <p>Имя</p>
                <input id="user_name" type="text">
                <p>Фамилия</p>
                <input id="user_surname" type="text">
                <p>E-mail</p>
                <input id="user_Email" type="text">
                <p>Статус</p>
                <input id="user_status" type="text">
                <p>Номер телефона</p>
                <input id="user_number" type="text">
                <p>Адрес доставки</p>
                <input id="user_adress" type="text">
                <p></p>
                <button id="add_list_item">Добавить позицию в каталог</button>
                <p></p>
                <button id="return_to_main_page">Вернуться на главную</button>
            </div>
            
            <div id="delivery_status_block">
                <p style="margin-top: 40px; font-size:24px;">Статус доставки</p>
                <div id="delivery_status">
                    <section class="details_info">
                        <img class="details_img" alt="Фото детали">
                        <p class="details_description">Видеокарта гигабайт туда суда было 
                        вспылало два ядра два гига очень быстрая классная смешная интересная/12гб</p>
                        <p class="details_rating">Оценка: </p>
                        <p class="delivery_status">Статус: Доставлено</p>
                    </section>
                </div>
            </div>
            
        </main>
    </section>
    

    <footer id="footer">
        <section id="about">
            <ul>
                <li>
                    <h5>Компания</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nemo vero voluptates, laborum itaque illum eaque expedita ducimus libero reiciendis!</p>
                </li>
                <li>
                    <h5>Покупателям</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime animi cum possimus dignissimos laboriosam necessitatibus laborum eveniet nam sunt saepe?</p>
                </li>
                <li>
                    <h5>Партнерам</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed veniam, dignissimos aut saepe ratione nihil quis a assumenda labore officia.</p>
                </li>
                <li>
                    <h5>Связь с нами</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sint quod laborum. Delectus voluptatem obcaecati, nesciunt aspernatur sunt quasi quod.</p>
                </li>
                <li>
                    <h5>Другие продукты</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quos incidunt veritatis praesentium perferendis et fuga explicabo ab aliquam voluptatibus.</p>
                </li>
            </ul>
        </section>
    </footer>   
</body>
</html>