<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitename(Change)(change)</title>
    <link rel="stylesheet" href="/SiteFrontend/css/bucket.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Playpen+Sans:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Шапка сайта с навигацией -->
    <header id = "header">
        <nav id="navigate">
            <h3 id = "sitename"><a href="#">DNS5</a><img id="santa_dance" src="/SiteFrontend/img/picmix.com_1748393.gif" alt="я джифка"></h3>
            <ul id = "menu">
                <li>
                    <a id = "menu-el" href="#">
                        <img  id = "bucket_logo" src="/SiteFrontend/img/bucket_logo.png" alt="">
                        <p id = "log_info">Корзина</p>
                    </a>
                </li>
                <li>
                    <a id = "menu-el" href="#">
                        <img  id = "account_logo" src="/SiteFrontend/img/account_logo.png" alt="">
                        <p id = "log_info">Аккаунт</p>
                    </a>
                </li>
                <li>
                    <a id = "menu-el" href="#">
                        <img  id = "reg_logo" src="/SiteFrontend/img/reg_logo.png" alt="">
                        <p id = "log_info">Вход</p>
                    </a>
                </li>  
                <li>
                    
                </li>              
            </ul>
        </nav>
    </header>
    <section id="bucket_section">
        <main id="bucket_block">
            <div id="page_name">
                <p>Корзина</p>
            </div>
            <div id="purchased_items">
                <div id="added_items">
                    <section class="details_info">
                        <img class="details_img" alt="Фото детали">
                        <p class="details_description">Видеокарта гигабайт туда суда было 
                        вспылало два ядра два гига очень быстрая классная смешная интересная/12гб</p>
                        <p class="details_cost">  ₽</p>
                        <a class="button_go" href="#"><button class="button_go">Перейти</button></a>
                        <p class="details_rating">Оценка: </p> 
                        <p class="dealer_name">Фирма: </p>
                        <button class="button_delete_item">X</button>
                    </section>
                    
                    <section class="details_info"></section>
                    <section class="details_info"></section>
                    <section class="details_info"></section>
                </div>
                <div id="confrim_section">
                    <p id="total_cost">Общая стоимость:</p>
                    <button id="confrim_button">Оформить</button>            
                </div>
                <div id="back_main_section">
                    <a  class ="back_main"href="#"><button class="back_main">Вернуться на главную</button></a>
                </div>
                
            </div>
        </main>
    </section>
    <footer id="footer">
        <section id="about">
            <ul>
                <li>
                    <h5>Компания</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nemo vero voluptates, laborum itaque illum eaque expedita ducimus libero reiciendis!</p>
                </li>
                <li>
                    <h5>Покупателям</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime animi cum possimus dignissimos laboriosam necessitatibus laborum eveniet nam sunt saepe?</p>
                </li>
                <li>
                    <h5>Партнерам</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed veniam, dignissimos aut saepe ratione nihil quis a assumenda labore officia.</p>
                </li>
                <li>
                    <h5>Связь с нами</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sint quod laborum. Delectus voluptatem obcaecati, nesciunt aspernatur sunt quasi quod.</p>
                </li>
                <li>
                    <h5>Другие продукты</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quos incidunt veritatis praesentium perferendis et fuga explicabo ab aliquam voluptatibus.</p>
                </li>
            </ul>
        </section>
    </footer> 