<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sitename(Change)(change)</title>
        <link rel="stylesheet" href="/SiteFrontend/static/mainpage/css/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
    </header>
    <main id="main_login_block">
        <div id="login_block">
            <p style="height:20px; width:110px;margin-left: auto;margin-right: auto;margin-bottom: 20px; margin-top:20px;">Авторизация</p>
            <h4>Логин</h4>
            <input  id="login_field" name="username" placeholder="Имя пользователя">
            <h4>Пароль</h4>
            <input id="password_field" type="password" placeholder="Пароль">
            <span><span style="font-size:14px;">Еще не зарегестрированы? </span><a href="#"><span>Регистрация</span></a></span>
            <button id="registration_button">Авторизоваться</button>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>