<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitename(Change)(change)</title>
    <link rel="stylesheet" href="/SiteFrontend/static/mainpage/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Playpen+Sans:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Шапка сайта с навигацией -->
    <header id = "header">
        <nav id="navigate">
            <h3 id = "sitename"><a href="#">DNS5</a><img id="santa_dance" src="/SiteFrontend/static/mainpage/img/picmix.com_1748393.gif" alt="я джифка"></h3>
            <ul id = "menu">
                <li>
                    <a id = "menu-el" href="#">
                        <img  id = "bucket_logo" src="/SiteFrontend/static/mainpage/img/bucket_logo.png" alt="">
                        <p id = "log_info">Корзина</p>
                    </a>
                </li>
                <li>
                    <a id = "menu-el" href="#">
                        <img  id = "account_logo" src="/SiteFrontend/static/mainpage/img/account_logo.png" alt="">
                        <p id = "log_info">Аккаунт</p>
                    </a>
                </li>
                <li>
                    <a id = "menu-el" href="#">
                        <img  id = "reg_logo" src="/SiteFrontend/static/mainpage/img/reg_logo.png" alt="">
                        <p id = "log_info">Вход</p>
                    </a>
                </li>  
                <li>
                    
                </li>              
            </ul>
        </nav>
    </header>

    <section id="main_content">
        <aside id="aside_field">
            <ul>
                <li>
                    <div class="dropdown">
                        <button id="button_details"></button>
                        <p id = "log_info">Комплектующие</p>
                        <div class="dropdown-content">
                            <ul id="details_dropdown_content">
                                <li class="button_info_dropdown">
                                    <p onclick="showFiltersVideoCard()">Видеокарта</p>      
                                </li>
                                <li class="button_info_dropdown">
                                    <p onclick="showFiltersMother()">Материнская плата</p> 
                                </li>
                                <li class="button_info_dropdown">
                                    <p onclick="showCPFilters()">Процессор</p> 
                                </li>
                                <li class="button_info_dropdown">
                                    <p>Система охлаждения</p> 
                                </li>
                                <li class="button_info_dropdown">
                                    <p>Системный блок</p> 
                                </li>
                                <li class="button_info_dropdown">
                                    <p>Накопитель</p> 
                                </li>
                                <li class="button_info_dropdown">
                                    <p>Оперативная память</p> 
                                </li>
                            </ul>
                                                     
                        </div>
                    </div>              
                </li>
                <li>
                    <button id="button_kits"></button>
                    <p id = "log_info">Готовые наборы</p>
                </li>   
            </ul>
        </aside>
        <main id="shop_configuration">
            <section id="filter_border">
                <h3>Фильтры</h3>
                <div id="prod_section">
                    <p id="prod" onclick="changecolor(`prod_accardeon`)">▸Производитель</p>
                        <ul id="prod_accardeon" style="display:none;">
                            <li> 
                                <input type="checkbox"> AMD
                            </li>
                            <li>
                                <input type="checkbox"> XUI
                            </li>
                            <li>
                                <input type="checkbox"> INCEL
                            </li>
                        </ul>
                </div>
                
                <div id="videoMem_section">
                    <p id="videoMem" onclick="changecolor(`videoMem_accardeon`)">▸Объем видеопамяти</p>
                        <ul id="videoMem_accardeon" style="display:none;">
                            <li> 
                                <input type="checkbox"> 8Gb
                            </li>
                            <li>
                                <input type="checkbox"> 2Gb
                            </li>
                            <li>
                                <input type="checkbox"> 214Mb
                            </li>
                        </ul>
                </div>
                <div id="price_section">
                    <p id="price" onclick="changecolor(`price_accardeon`)">▸Цена</p>
                    <ul id = "price_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> 2000
                        </li>
                        <li>
                            <input type="checkbox"> 6000
                        </li>
                        <li>
                            <input type="checkbox"> 8000
                        </li>
                    </ul>
                </div>
                <div id="cpuCores_section">
                    <p id="cpuCores" onclick="changecolor(`cpuCores_accardeon`)">▸Количество ядер</p>
                        <ul id="cpuCores_accardeon" style="display:none;">
                            <li> 
                                <input type="checkbox"> 4
                            </li>
                            <li>
                                <input type="checkbox"> 6
                            </li>
                            <li>
                                <input type="checkbox"> 8
                            </li>
                        </ul>
                </div>
                
                
                <div id="prodGpu_section">
                    <p id="prodGPU" onclick="changecolor(`prodGPU_accardeon`)">▸Производитель графического процессора</p>
                    <ul id = "prodGPU_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> AMD
                        </li>
                        <li>
                            <input type="checkbox"> INTEL
                        </li>
                    </ul>
                </div>
                <div id="busSize_section">
                    <p id="busSize" onclick="changecolor(`busSize_accardeon`)">▸Разрядность шины</p>
                    <ul id = "busSize_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> 2 бит
                        </li>
                        <li>
                            <input type="checkbox"> 4 юит
                        </li>
                    </ul>
                </div>
                <div id="monitorConSize_section">
                    <p id="monitorConSize" onclick="changecolor(`monitorConSize_accardeon`)">▸Количество одновременно подклчаемых мониторов</p>
                    <ul id = "monitorConSize_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> 1 
                        </li>
                        <li>
                            <input type="checkbox"> 2
                        </li>
                    </ul>
                </div>
                <div id="socket_section">
                    <p id="socket" onclick="changecolor(`socket_accardeon`)">▸Сокет</p>
                    <ul id = "socket_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> A
                        </li>
                        <li>
                            <input type="checkbox"> B
                        </li>
                    </ul>
                </div>
                <div id="chipset_section">
                    <p id="chipset" onclick="changecolor(`chipset_accardeon`)">▸Чипсет</p>
                    <ul id = "chipset_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> B
                        </li>
                        <li>
                            <input type="checkbox"> A
                        </li>
                    </ul>
                </div>
                <div id="memoryTypeCon_section">
                    <p id="memoryTypeCon" onclick="changecolor(`memoryTypeCon_accardeon`)">▸Тип поддерживаемой памяти</p>
                    <ul id = "memoryTypeCon_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> ddr100
                        </li>
                        <li>
                            <input type="checkbox"> ddrd
                        </li>
                    </ul>
                </div>
                <div id="memorySlotSize_section">
                    <p id="memorySlotSize" onclick="changecolor(`memorySlotSiz_accardeon`)">▸Количество слотов памяти</p>
                    <ul id = "memorySlotSiz_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> 1
                        </li>
                        <li>
                            <input type="checkbox"> 2
                        </li>
                    </ul>
                </div>
                <div id="memoryM2Size_section">
                    <p id="memoryM2Size" onclick="changecolor(`memoryM2Size_accardeon`)">▸Количество слотов m2</p>
                    <ul id = "memoryM2Size_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> 1
                        </li>
                        <li>
                            <input type="checkbox"> 2
                        </li>
                    </ul>
                </div>
                <div id="memoryType_section">
                    <p id="memoryType" onclick="changecolor(`memoryType_accardeon`)">▸Тип памяти</p>
                    <ul id = "memoryType_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> ddr3
                        </li>
                        <li>
                            <input type="checkbox"> ddr4
                        </li>
                    </ul>
                </div>
                <div id="coreSize_section">
                    <p id="coreSize" onclick="changecolor(`coreSize_accardeon`)">▸Количество ядер процессора</p>
                    <ul id = "coreSize_accardeon" style="display:none;">
                        <li> 
                            <input type="checkbox"> 4
                        </li>
                        <li>
                            <input type="checkbox"> 8
                        </li>
                    </ul>
                </div>
            </section>
            <section id="shop_section">
                <div id="search_field">
                    <ul>
                        <li><img id="img_search" src="/SiteFrontend/static/mainpage/img/search.png" alt=""></li>
                        <li>
                            <input id="search_text" type="text" placeholder="Введите название ">
                        </li>
                        <li><button>Поиск</button></li>
                    </ul>
                </div>
                <div id="shop_field">
                    <section class="details_info">
                                <img src="/SiteFrontend/static/mainpage/img/imagecard.png" class="details_img" alt="Фото детали"">
                                <p class="details_description">Видеокарта гигабайт туда суда было 
                                вспылало два ядра два гига очень быстрая классная смешная интересная/12гб</p>
                                <p class="details_cost"> ₽</p>
                                <a class="button_go" href="#"><button class="button_go">Перейти</button></a>
                                <p class="details_count">Количество в магазине:</p>
                                <p class="details_rating">Оценка: </p>
                                <p class="dealer_name">Фирма: </p>
                    </section>
                    <section class="details_info">
                        
                    </section>
                    <section class="details_info">
                        
                    </section>
                    <section class="details_info">
                        
                    </section>
                    <section class="details_info">
                        
                    </section>
                    
                </div>
            </section>
            
        </main>
    </section>
    <footer id="footer">
        <section id="about">
            <ul>
                <li>
                    <h5>Компания</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nemo vero voluptates, laborum itaque illum eaque expedita ducimus libero reiciendis!</p>
                </li>
                <li>
                    <h5>Покупателям</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime animi cum possimus dignissimos laboriosam necessitatibus laborum eveniet nam sunt saepe?</p>
                </li>
                <li>
                    <h5>Партнерам</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed veniam, dignissimos aut saepe ratione nihil quis a assumenda labore officia.</p>
                </li>
                <li>
                    <h5>Связь с нами</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sint quod laborum. Delectus voluptatem obcaecati, nesciunt aspernatur sunt quasi quod.</p>
                </li>
                <li>
                    <h5>Другие продукты</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quos incidunt veritatis praesentium perferendis et fuga explicabo ab aliquam voluptatibus.</p>
                </li>
            </ul>
        </section>
    </footer>

    <script src="../../scripts/accardeon.js"></script>
</body>
</html>