<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sitename(Change)(change)</title>
        <link rel="stylesheet" href="/SiteFrontend/static/mainpage/css/register.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
    </header>

    <main id="reg">
        <div id="main_registration_block">
            <p style="height:20px; width:110px;margin-left: auto;margin-right: auto;margin-bottom: 20px;margin-top:20px;">Регистрация</p>
            <h4 id="name">Имя</h4>
            <input  id="name_field" type="text" placeholder="Ваше имя">
            <h4 id="surname">Фамилия</h4>
            <input id="surname_field" type="text" placeholder="Ваша фамилия">
            <h4 id="user_nubmer">Номер телефона</h4>
            <input id="number_field" type="text" placeholder="Номер телефона">
            <h4 id="user_email">E-mail</h4>
            <input id="email_field" type="email" placeholder="E-mail">
            <h4 id="user_Password">Пароль</h4>
            <input id="password_field" type="password" placeholder="Пароль">
            <h4 id="user_repeated_Password">Повторите пароль</h4>      
            <input id="repeat_field" type="password">
            </ul>
            <button id="registration_button">Зарегестрироваться</button>
        </div>
        
    </main>

    <footer>

    </footer>
</body>
</html>